<section class="faq">
    <div class="container">
        <div class="faq__shell">
            <div class="faq__info">
                <div class="faq__info-title">Frequently asked questions</div>
                <div class="faq__info-text">Everything you need to know about the product and billing.</div>
            </div>

            <div class="accordion_body">
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">Is there a free trial available?</div>
                        <button class="accordion_button" id="Budget_accrodion-item-1">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-1">
                        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
                        personalized 30-minute onboarding call to get you up and running as soon as possible.
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">How Can I Add More Emails To My Account?</div>
                        <button class="accordion_button" id="Budget_accrodion-item-2">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-2">
                        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
                        personalized 30-minute onboarding call to get you up and running as soon as possible.
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">Can I Change Plans Or Cancel My Subscription At Any Time</div>
                        <button class="accordion_button" id="Budget_accrodion-item-3">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-3">
                        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
                        personalized 30-minute onboarding call to get you up and running as soon as possible.
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">How Secure Is My Date With Sans CRM</div>
                        <button class="accordion_button" id="Budget_accrodion-item-4">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-4">
                        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
                        personalized 30-minute onboarding call to get you up and running as soon as possible.
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">What Is The Uptime Guarantee</div>
                        <button class="accordion_button" id="Budget_accrodion-item-5">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-5">
                        Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free,
                        personalized 30-minute onboarding call to get you up and running as soon as possible.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>