<section class="price">
    <div class="container">
        <div class="price__shell">
            <div class="price__background-round--1"></div>
            <div class="price__background-round--2"></div>
            <div class="price__top">
                <div class="price__subtitle">Pricing plans 🤑</div>
                <div class="price__title">
                    Choose a plan for a more advanced business
                </div>
                <div class="price__switch">
                    <button class="price__switch--switcher">
                        <div class="price__switch--switcher-circle"></div>
                    </button>
                    <div class="price__switch--text">Annual pricing (save 20%)</div>
                </div>
            </div>
            <div class="price__bottom">
                <div class="price__card">
                    <div class="price__card-top">
                        <div class="price__card-top-buttons">
                            <img src="/assets/icons/pricing/price-card__heart.svg" alt="">
                            <p></p>
                        </div>
                        <div class="price__card-top-info">
                            <div class="price__card-top-info--title">Starter</div>
                            <div class="price__card-top-info--text">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </div>
                        </div>
                        <div class="price__card-top-price">$100 <span>/mo</span></div>
                    </div>
                    <div class="price__card-bottom">
                        <ul class="price__card-ul">
                            <div class="price__card-ul--title"></div>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Unlimited Upload
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Advanced Statistic
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Profile Badge
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Access to the community
                            </li>
                            <li class="price__card--crossed-li">
                                <img src="/assets/icons/pricing/price-card__grey-check.svg" alt="">
                                History of all Liked Photos
                            </li>
                            <li class="price__card--crossed-li">
                                <img src="/assets/icons/pricing/price-card__grey-check.svg" alt="">
                                Directory Listing
                            </li>
                            <li class="price__card--crossed-li">
                                <img src="/assets/icons/pricing/price-card__grey-check.svg" alt="">
                                Customize Your Profile
                            </li>
                            <li class="price__card--crossed-li">
                                <img src="/assets/icons/pricing/price-card__grey-check.svg" alt="">
                                Display Your Workshops
                            </li>
                        </ul>
                        <div class="price__card-button--shell">
                            <div class="price__card-button">
                                Chose Plan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price__card">
                    <div class="price__card-top">
                        <div class="price__card-top-buttons">
                            <img src="/assets/icons/pricing/price__card-sipper.svg" alt="">
                            <div class="price__card-top-buttons-btn">Best Offers 🔥</div>
                        </div>
                        <div class="price__card-top-info">
                            <div class="price__card-top-info--title-dark">Popular</div>
                            <div class="price__card-top-info--text">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </div>
                        </div>
                        <div class="price__card-top-price-dark">$1400 <span>/mo</span></div>
                    </div>
                    <div class="price__card-bottom">
                        <ul class="price__card-ul">
                            <div class="price__card-ul--title-dark">
                                What’s included:
                            </div>
                            <li class="price__card--li-dark">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Unlimited Upload
                            </li>
                            <li class="price__card--li-dark">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Advanced Statistic
                            </li>
                            <li class="price__card--li-dark">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Profile Badge
                            </li>
                            <li class="price__card--li-dark">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Access to the community
                            </li>
                            <li class="price__card--crossed-li">
                                <img src="/assets/icons/pricing/price-card__grey-check.svg" alt="">
                                History of all Liked Photos
                            </li>
                            <li class="price__card--li-dark">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Directory Listing
                            </li>
                            <li class="price__card--crossed-li">
                                <img src="/assets/icons/pricing/price-card__grey-check.svg" alt="">
                                Customize Your Profile
                            </li>
                            <li class="price__card--crossed-li">
                                <img src="/assets/icons/pricing/price-card__grey-check.svg" alt="">
                                Display Your Workshops
                            </li>
                        </ul>
                        <div class="price__card-button--shell">
                            <div class="price__card-button-dark">
                                Chose Plan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price__card">
                    <div class="price__card-top">
                        <div class="price__card-top-buttons">
                            <img src="/assets/icons/pricing/price__card-crown.svg" alt="">
                            <p></p>
                        </div>
                        <div class="price__card-top-info">
                            <div class="price__card-top-info--title">Enterprise</div>
                            <div class="price__card-top-info--text">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </div>
                        </div>
                        <div class="price__card-top-price">$2100 <span>/mo</span></div>
                    </div>
                    <div class="price__card-bottom">
                        <ul class="price__card-ul">
                            <div class="price__card-ul--title"></div>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Unlimited Upload
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Advanced Statistic
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Profile Badge
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Access to the community
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                History of all Liked Photos
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Directory Listing
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Customize Your Profile
                            </li>
                            <li class="price__card--li">
                                <img src="/assets/icons/pricing/prcie-crad__green-check.svg" alt="">
                                Display Your Workshops
                            </li>
                        </ul>
                        <div class="price__card-button--shell">
                            <div class="price__card-button">
                                Chose Plan
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>