<section class="form">
    <div class="form__shell">
        <img class="form__img" src="/assets/icons/contact/Image.svg" alt="">
        <div class="item">
            <div class="item__top">
                <div class="item__top--title">Let’s level up your brand</div>
                <div class="item__top--info">You can reach us anytime <span>hellosansbrothers@gmail.com</span> </div>
            </div>
            <div class="item__bottom">
                <div class="item__bottom-names">
                    <div class="item__bottom-names-left">
                        <div class="item__bottom-names-left--title">First name</div>
                        <input placeholder="First name" type="text" class="item__bottom-names-left--input">
                    </div>
                    <div class="item__bottom-names-right">
                        <div class="item__bottom-names-right--title">Last name</div>
                        <input placeholder="Last name" type="text" class="item__bottom-names-right--input">
                    </div>
                </div>
                <div class="item__bottom-email">
                    <div class="item__bottom-email--title">Email</div>
                    <input placeholder="you@company.com" type="text" class="item__bottom-email--input">
                </div>
                <div class="item__bottom-phone">
                    <div class="item__bottom-phone--title">Phone number</div>
                    <div class="item__bottom-phone-shell">
                        <select name="" id="" class="item__bottom-phone-shell--select">
                            <option value="Ru">Ru</option>
                            <option value="En">En</option>
                        </select>
                        <input placeholder="+1 (555) 000-0000" class="item__bottom-phone-shell--input">
                    </div>
                </div>
                <div class="item__bottom-massage">
                    <div class="item__bottom-massage--title">Message</div>
                    <textarea class="item__bottom-massage--input" placeholder="Leave us a message..." name="" id=""></textarea>
                </div>
            </div>
            <button class="item__button">
                Get Started
            </button>
        </div>
    </div>
</section>