<section class="map">
    <div class="container">
        <div class="map__shell">
            <div class="map__top">
                Contact our team to find out more
            </div>
            <div class="map__bottom">
                <div class="map__map">
                    <img src="/assets/icons/contacts/Map.svg" alt="">
                    <div class="map__map-block">
                        <div class="map__map-block--title">Yogja, INA</div>
                        <div class="map__map-block--text">
                            100 Smith Street Collingwood VIC 3066 AU
                        </div>
                    </div>
                </div>
                <div class="map__contacts">
                    <div class="map__contacts-item">
                        <div class="map__contacts-item--title">Support</div>
                        <div class="map__contacts-item--info">Our friendly team is here to help.</div>
                        <a href="mailto:support@sans.com" class="map__contacts-item--link">support@sans.com</a>
                    </div>
                    <div class="map__contacts-item">
                        <div class="map__contacts-item--title">Support</div>
                        <div class="map__contacts-item--info">Questions or queries? Get in touch!</div>
                        <a href="mailto:sales@sans.com" class="map__contacts-item--link">sales@sans.com</a>
                    </div>
                    <div class="map__contacts-item">
                        <div class="map__contacts-item--title">Phone</div>
                        <div class="map__contacts-item--info">Mon-Fri from 8am to 5pm.</div>
                        <a href="tel:+1 (435) 345-7655" class="map__contacts-item--link">+1 (435) 345-7655</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>