.footer {
    background-color: var(--neutral-color-60);
    padding: 112px 120px 58px 120px;
    @include tablet{
        padding: 112px 32px 58px 32px ;
    }
    &__shell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 134px;
        @include small-tablet{
            margin-bottom: 44px;
        }
        @include mobile{
            flex-direction: column;
            gap: 16px;
        }
        &-text {
            gap: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-title {
                font-size: 64px;
                line-height: 120%;
                font-weight: 500;
                color: #fafafa;
                max-width: 720px;
                @include small-tablet{
                    font-size: 48px;
                }
                @include mobile{
                    font-size: 36px;
                }
            }
            &-text {
                font-size: 18px;
                line-height: 32px;
                font-weight: 500;
                color: var(--neutral-color-50);
                max-width: 543px;
                @include small-tablet{
                    line-height: 24px;
                }
                @include mobile{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
        &-button {
            background-color: #fafafa;
            padding: 16px 32px;
            border-radius: 30px;
            max-height: 56px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            text-wrap: nowrap;
            @include small-tablet{
                padding: 12px 24px;
                line-height: 120%;
            }
            @include mobile{
                padding: 8px 16px ;
                font-size: 16px;
            }
        }
    }
    &__middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10vw;
        border-bottom: solid 1px var(--neutral-color-150);
        padding:  0 0 56px 0;
        max-width: 1200px;
        @include mini-desktop{
            gap: 3vw;
        }
        @include big-tablet{
            align-items: center;
        }
        @include small-tablet{
            flex-direction: column;
            align-items: center;
        }
        &-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 292px;
            &-logo img{
                width: 10vw;
                min-width: 100px;
                min-height: 40px;
            }
            &-text {
                font-weight: 500;
                font-size: 16px;
                line-height: 162%;
                color: var(--neutral-color-150);
                width: 100%;
                // width: 21vw;
                max-width: 292px;
                @include mini-desktop{
                    font-size: 14px;
                    line-height: 150%;
                }
            }
        }
        &-lists {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2vw;
            max-width: 764px;
            width: 55vw;
            max-height: 400px;
            height:100%;
            flex-wrap: wrap;
            @include big-tablet{
                display: grid;
                grid-template-columns: 25% 25%;
                grid-template-rows: 50% 50%;
                justify-content: space-around
            }
        }
        &-ul {
            @include flex-column-space-between;
            gap: 16px;
            @include big-tablet{
                gap: 8px;
            }
        }
        &-li {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--neutral-color-150);
            text-wrap: nowrap;
            @include tablet{
                font-size: 16px;
            }
            @include small-tablet{
                font-size: 14px;
            }
            @include mobile{
                font-size: 12px;
            }
            &-title {
                color: #fafafa;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                @include tablet{
                font-size: 16px;
                }
                @include small-tablet{
                font-size: 14px;
                }
            }
        }
    }
    &__bottom {
        margin-top: 40px;
        @include flex-row-space-between;
        gap: 24px;
        @include small-tablet{
            flex-direction: column;
            align-items: center
        }
        @include mobile{
            gap: 12px;
        }
        &-left {
            @include flex-row-space-between;
            width: 100%;
            max-width: 584px;
            gap: 24px;
            @include mobile{
                flex-direction: column;
                align-items: center;
                gap: 12px;
            }
            &-socials {
                @include flex-row-space-between;
                gap: 24px;
                &-li img{
                    min-height: 20px;
                    min-width: 20px;
                }
            }
            &-info {
                @include flex-row-space-between;
                gap: 40px;
                @include tablet{
                    gap: 20px;
                }
            }
            &-text {
                font-weight: 500;
                font-size: 14px;
                line-height: 143%;
                color: #fafafa;
            }
        }
        &-right-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: #fafafa;
        }
    }
}
