.gallerey {
    padding: 120px 0;
    background-color: var(--neutral-color-100);
    @include small-tablet{
        padding: 100px 0;
    }
    @include mobile{
        padding: 80px 0;
    }
    @include small-mobile{
        padding: 60px 0;
    }
    &__shell {
        @include flex-row-space-between;
        gap: 32px;

    }

    &__left-column,
    &__right-column {
        @include flex-column-space-between;
        gap: 160px;
        max-height: 1960px;
        @include small-tablet{
            gap: 100px;
        }
        @include mobile{
            gap: 80px;
        }
        @include small-mobile{
            gap: 60px;
        }
    }
}

.left-column {
    &__first-item {
        @include flex-column-space-between;
        max-width: 584px;
        max-height: 991px;
        gap: 24px;

        &--img img {
            max-width: 100%;
            max-height: 751px;
        }

        &--title {
            max-width: 584px;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: var(--neutral-color-10);
            @include tablet{
                font-size: 32px;
            }
            @include small-tablet{
                font-size: 38px;
            }
            @include mobile{
                font-size: 24px;
            }
            @include small-mobile{
                font-size: 18px;
            }
        }

        &--text {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            color: var(--neutral-color-150);
            max-width: 515px;
            @include small-tablet{
                font-size: 16px;
            }
            @include mobile{
                font-size: 14px;
            }
            @include small-mobile{
                font-size: 12px;
            }
        }
    }

    &__second-item {
        @include flex-column-space-between;
        max-width: 584px;
        max-height: 771px;
        gap: 24px;

        &--img img {
            max-width: 100%;
            max-height: 507px;
        }

        &--title {
            max-width: 557px;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: var(--neutral-color-10);
            @include tablet{
                font-size: 32px;
            }
            @include small-tablet{
                font-size: 38px;
            }
            @include mobile{
                font-size: 24px;
            }
            @include small-mobile{
                font-size: 18px;
            }
        }

        &--text {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            color: var(--neutral-color-150);
            max-width: 515px;
            @include small-tablet{
                font-size: 16px;
            }
            @include mobile{
                font-size: 14px;
            }
            @include small-mobile{
                font-size: 12px;
            }
        }
    }
}

.right-column {
    &__first-item {
        @include flex-column-space-between;
        gap: 24px;
        max-height: 747px;
        max-width: 584px;

        &--img img {
            max-height: 507px;
            max-width: 100%;
        }

        &--title {
            max-width: 442px;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: var(--neutral-color-10);
            @include tablet{
                font-size: 32px;
            }
            @include small-tablet{
                font-size: 38px;
            }
            @include mobile{
                font-size: 24px;
            }
            @include small-mobile{
                font-size: 18px;
            }
        }

        &--text {
            max-width: 515px;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            color: var(--neutral-color-150);
            @include small-tablet{
                font-size: 16px;
            }
            @include mobile{
                font-size: 14px;
            }
            @include small-mobile{
                font-size: 12px;
            }
        }
    }

    &__second-item {
        @include flex-column-space-between;
        gap: 24px;
        max-height: 991px;
        max-width: 584px;

        &--img {
            max-width: 100%;
            max-height: 751px;
        }

        &--title {
            max-width: 440px;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: var(--neutral-color-10);
            @include tablet{
                font-size: 32px;
            }
            @include small-tablet{
                font-size: 38px;
            }
            @include mobile{
                font-size: 24px;
            }
            @include small-mobile{
                font-size: 18px;
            }
        }

        &--text {
            max-width: 515px;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            color: var(--neutral-color-150);
            @include small-tablet{
                font-size: 16px;
            }
            @include mobile{
                font-size: 14px;
            }
            @include small-mobile{
                font-size: 12px;
            }
        }
    }
}