<section class="articles">
    <div class="container">
        <div class="articles__shell">
            <div class="articles__top">
                <div class="articles__info">
                    <div class="articles__info--title">Articles</div>
                    <div class="articles__info--text">
                        Complex tech decoded by engineers, business trends analyzed by
                        experts.
                    </div>
                </div>
                <div class="articles__swiper-buttons">
                    <div class="swiper-button-prev articles__swiper--button-prev">
                        <img src="/assets/icons/blog/articles__swiper-arrow.svg" alt="">
                    </div>
                    <div class="swiper-button-next articles__swiper--button-next">
                        <img src="/assets/icons/blog/articles__swiper-arrow.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="articles__swiper-container">
                <div class="swiper articles__swiper">
                    <div class="swiper-wrapper articles__swiper--wrapper">
                        <div class="swiper-slide articles__swiper--slide">
                            <div class="first-slide">
                                <div class="first-slide__img"> <img src="/assets/icons/blog/articles__first-slide.svg"
                                        alt=""></div>
                                <div class="first-slide__title">
                                    List of UX Designer Portfolio / Case Studies where you can make money
                                </div>
                                <div class="first-slide__text">
                                    Here are some portfolios / Case Studies from UX Designers that you can use as a
                                    reference for creating a portfolio. Two interesting things from their portfolio are:
                                </div>
                                <a href="/coca/detailBlog" class="second-slide__button articles__button ">Read More</a>
                            </div>
                        </div>
                        <div class="swiper-slide articles__swiper--slide">
                            <div class="second-slide">
                                <div class="second-slide__img">
                                    <img src="/assets/icons/blog/articles__second-slide.svg" alt="">
                                </div>
                                <div class="second-slide__title">
                                    Skyrocketing in The Designing Career, Why Not?
                                </div>
                                <div class="second-slide__text">
                                    Ever thought of jumping into the world of design as a
                                    career? If not, you may want to look at what the word ‘design’ actually means.
                                    Design is
                                    a method of designing aesthetic actions that are carried out.
                                </div>
                                <a href="/coca/detailBlog" class="second-slide__button articles__button ">Read More</a>
                            </div>
                        </div>
                        <div class="swiper-slide articles__swiper--slide">
                            <div class="third-slide">
                                <div class="third-slide__img">
                                    <img src="/assets/icons/blog/articles__third-slide.svg" alt="">
                                </div>
                                <div class="third-slide__title">
                                    Elements that may be missed when designing the UI
                                </div>
                                <div class="third-slide__text">
                                    This is an article that talks about the little elements that are often overlooked
                                    when
                                    designing UI.
                                </div>
                                
                                <a href="/coca/detailBlog" class="second-slide__button articles__button ">Read More</a>
                            </div>
                        </div>
                        <div class="swiper-slide articles__swiper--slide">Slide 4</div>
                        <div class="swiper-slide articles__swiper--slide">Slide 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>