<section class="gallerey">
    <div class="container">
        <div class="gallerey__shell">
            <div class="gallerey__left-column">
                <div class="left-column__first-item">
                    <div class="left-column__first-item--img">
                        <img src="/assets/icons/blog/left-column__first-item.svg" alt="">
                    </div>
                    <div class="left-column__first-item--title">
                        How we perform long-running tasks using AWS services
                    </div>
                    <div class="left-column__first-item--text">
                        Webflow is web design tool as well as a hosting platform
                        and CMS all in one. While you are probably familiar with all of these, they are usually entirely
                        separate tools.
                    </div>
                </div>
                <div class="left-column__second-item">
                    <div class="left-column__second-item--img">
                        <img src="/assets/icons/blog/first-column__second-item.svg" alt="">
                    </div>
                    <div class="left-column__second-item--title">
                        Layout Exploration — Simple exercise but big effect
                    </div>
                    <div class="left-column__second-item--text">
                        Make alternatives or other options for the design we are making.
                        For example, we are creating a website design. Then there is the testimonial section.
                    </div>
                </div>
            </div>
            <div class="gallerey__right-column">
                <div class="right-column__first-item">
                    <div class="right-column__first-item--img">
                        <img src="/assets/icons/blog/right-column__first-item.svg" alt="">
                    </div>
                    <div class="right-column__first-item--title">
                        How to ask when doing User Research
                    </div>
                    <div class="right-column__first-item--text">
                        Bro, the story is that you want to make an application for buying and selling goods on the
                        market. During user research, what do you think you will ask people?
                    </div>
                </div>
                <div class="right-column__second-item">
                    <div class="right-column__second-item--img">
                        <img src="/assets/icons/blog/right-column__second-item.svg" alt="">
                    </div>
                    <div class="right-column__second-item--title">
                        Webflow Break the Coding Barrier
                    </div>
                    <div class="right-column__second-item--text">
                        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are
                        probably familiar with all of these, they are usually entirely separate tools.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>