<section class="tabsInfo">
    <div class="container">
        <div class="tabsInfo__shell">
            <div class="tabsInfo__background-round--1"></div>
            <div class="tabsInfo__background-round--2"></div>
            <div class="tabsInfo__heading">
                <div class="tabsInfo__heading--title">
                    Activity & Updates
                </div>
                <div class="tabsInfo__heading--info">
                    <div class="tabsInfo__heading--info-line"></div>
                    <div class="tabsInfo__heading--info-text">
                        Our biggest challenge is making sure we're always
                        designing and building products that will help you
                        run your business better.
                    </div>
                </div>
            </div>
            <div class="tabsInfo__tabs">
                <div class="tabsInfo__shell">
                    <ul class="tabsInfo__tabs">
                        <button class="tabsInfo__tab active__button" data-tab="tab__1">View all</button>
                        <button class="tabsInfo__tab" data-tab="tab__2">Design</button>
                        <button class="tabsInfo__tab" data-tab="tab__3">Articles</button>
                        <button class="tabsInfo__tab" data-tab="tab__4">Product</button>
                        <button class="tabsInfo__tab" data-tab="tab__5">Software Development</button>
                        <button class="tabsInfo__tab" data-tab="tab__6">Customer Success</button>
                    </ul>
                    <div class="tabsInfo__items">
                        <div class="tabsInfo__item active__item" id="tab__1">
                            <div class="tab__swiper swiper">
                                <div class="tab__swiper-wrapper swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="tab__swiper-slide">
                                            <div class="tab__swiper-slide--img">
                                                <img src="/assets/icons/blog/first-swiper__first-clide.svg" alt="">
                                            </div>
                                            <div class="tab__swiper-slide-subtitles">
                                                <div class="tab__swiper-slide-subtitles--left">
                                                    Published in Insight Jan 30, 2021
                                                </div>
                                                <div class="tab__swiper-slide-subtitles--right"></div>
                                            </div>
                                            <div class="tab__swiper-slide-title">
                                                Practice making User Flow
                                            </div>
                                            <div class="tab__swiper-slide-text">
                                                In this article, we'll cover how to create user flows
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide ">
                                        <div class="tab__swiper-slide">
                                            <div class="tab__swiper-slide--img">
                                                <img src="/assets/icons/blog/first-tab__second-slide.svg" alt="">
                                            </div>
                                            <div class="tab__swiper-slide-subtitles">
                                                <div class="tab__swiper-slide-subtitles--left">
                                                    Published in Insight Jan 30, 2021
                                                </div>
                                                <div class="tab__swiper-slide-subtitles--right">
                                                    by : Albert Sans
                                                </div>
                                            </div>
                                            <div class="tab__swiper-slide-title">
                                                Overview of the Design Principles
                                            </div>
                                            <div class="tab__swiper-slide-text">
                                                What are Design Principles?… To understand design principles, we first
                                                discuss the principles.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide ">
                                        <div class="tab__swiper-slide">
                                            <div class="tab__swiper-slide--img">
                                                <img src="/assets/icons/blog/tab__third-slide.svg" alt="">
                                            </div>
                                            <div class="tab__swiper-slide-subtitles">
                                                <div class="tab__swiper-slide-subtitles--left">Published in Insight Jan 30, 2021</div>
                                                <div class="tab__swiper-slide-subtitles--right"></div>
                                            </div>
                                            <div class="tab__swiper-slide-title">Using Grid in website design</div>
                                            <div class="tab__swiper-slide-text">Andi: "What's the grid like?" Toni: “Like below…”</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab__swiper-buttons">
                                    <button class="swiper-button-prev tab__swiper-buttons-prev">
                                        <img src="/assets/icons/blog/first-tab__swiper-button-prev.svg" alt="">
                                    </button>
                                    <button class="swiper-button-next tab__swiper-buttons-next">
                                        <img src="/assets/icons/blog/first-tab__swiper--button.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tabsInfo__item" id="tab__2"></div>
                        <div class="tabsInfo__item" id="tab__3">fhdghfdhfd</div>
                        <div class="tabsInfo__item" id="tab__4"></div>
                        <div class="tabsInfo__item" id="tab__5"></div>
                        <div class="tabsInfo__item" id="tab__6">6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>