<div class="firstContent">
    <div class="container">
        <div class="firstContent__shell">
            <div class="firstContent__title">
                How we perform long-running tasks using AWS services
            </div>
            <div class="firstContent__profile">
                <div class="firstContent__profile-img">
                    <img src="/assets/icons/detailBlog/detailBlog__first-item--profile.svg" alt="">
                </div>
                <div class="firstContent__profile-info">
                    <div class="firstContent__profile-info--name">
                        Renee Wells
                    </div>
                    <div class="firstContent__profile-info--text">
                        <div class="firstContent__profile-info--text-left">
                            Product Designer, Quotient
                        </div>
                        <div class="firstContent__profile-info--text-right">
                            10 min read November 10, 2023
                        </div>
                    </div>
                </div>

            </div>
            <div class="firstContent__img">
                <img src="/assets/icons/detailBlog/detailBlog__first-item--img.svg" alt="">
            </div>
            <div class="firstContent__p">
                Depending on the input, this can result in using a lot of processing power and time. The whole process
                would take approximately 5 seconds to return a result to the client. Keep in mind we’re talking about 1
                item, a contact from a contact book. After a while, a new requirement is added. Solution must support
                companies that manage their contacts organized in files. We agreed to develop a web application that
                would support upload of dataset files, like .csv. The new web application should support third party
                integrations. Some of them are the ESP/CRM services, like Mailchimp. User does not need to see the
                result immediately. System can later notify the user about the result, when the process finishes. This
                information is the key that we need to leverage on when developing our solution. So here’s how we did
                it.
            </div>
        </div>
    </div>
</div>