<section class="secondContent">
    <div class="container">
        <div class="secondContent__shell">
            <div class="secondContent__title">Initial approach</div>
            <div class="secondContent__p">
                Our initial approach went like this: The web application would read a .csv file line-by-line and submit
                an array of entries to the backend REST API. Processing is in real time, immediately after the user
                makes a request for the process to start, he expects a result. Another approach is to apply vertical
                scaling to AWS architecture. Meaning we used larger, more expensive instances that have more RAM and
                processing power. This system worked well for smaller datasets, maybe up to 5k entries, but for larger
                datasets multiple problems arose. This solution is prone to failure due to long request time. Also,
                because of some 3rd party services that aren’t optimized for large scale loads or they don’t have batch
                endpoints. 3rd party services also tend to protect their architecture from making a huge bill on their
                end. The whole process was done in real-time. The request can take a lot of time hanging in there while
                the backend would do all the work and return the result to the client. The request was limited to 300
                seconds (at time of writing the article) before AWS would cancel it… Also I need to mention that the
                user has to wait a few minutes to see the results. They can’t use the app during the process, which
                makes for a bad user experience.
            </div>
            <div class="secondContent__profile">
                <div class="profile">
                    <div class="profile__img">
                        <img src="/assets/icons/detailBlog/second-irem__profile-img.svg" alt="">
                    </div>
                    <div class="profile__info">
                        <div class="profile__info--socials">
                            <img src="/assets/icons/detailBlog/secondContent__facebook.svg" alt="">
                            <img src="/assets/icons/detailBlog/secondContent__twitter.svg" alt="">
                            <img src="/assets/icons/detailBlog/secondContent__in.svg" alt="">
                            <img src="/assets/icons/detailBlog/secondContent__inst.svg" alt="">
                            <span>Share this article</span>
                        </div>
                        <div class="profile__info--subtitle">Written by</div>
                        <div class="profile__info--title">Renee Wells</div>
                        <div class="profile__info--subtitle">Product Designer, Quotient</div>
                        <div class="profile__info--text">
                            Skilled in React Native, iOS and backend, Toni has a
                            demonstrated knowledge of the information technology and services industry, with plenty of
                            hands-on experience to back it up.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>