<section class="footer">
    <div class="container">
        <div class="footer__shell">
            <div class="footer__top">
                <div class="footer__top-text">
                    <div class="footer__top-text-title">
                        Think beyond the wave
                    </div>
                    <div class="footer__top-text-text">
                        Ask about Sans products, pricing, implementation, or
                        anything else. Our highly trained reps are standing by,
                        ready to help
                    </div>
                </div>
                <button class="footer__top-button">Try for free</button>
            </div>
            <div class="footer__middle">
                <div class="footer__middle-info">
                    <div class="footer__middle-info-logo">
                        <img src="/assets/icons/footer__logo.svg" alt="" />
                    </div>
                    <div class="footer__middle-info-text">
                        We built an elegant solution. Our team created a fully
                        integrated sales and marketing solution for SMBs
                    </div>
                </div>
                <div class="footer__middle-lists">
                    <ul class="footer__middle-ul">
                        <div class="footer__middle-li-title">Company</div>
                        <div class="footer__middle-li">About</div>
                        <div class="footer__middle-li">Pricing</div>
                        <div class="footer__middle-li">jobs</div>
                        <div class="footer__middle-li">Blog</div>
                        <a class="footer__middle-li" href="/coca/team.html">team</a>
                    </ul>
                    <ul class="footer__middle-ul">
                        <div class="footer__middle-li-title">Product</div>
                        <div class="footer__middle-li">Sales Software</div>
                        <div class="footer__middle-li">Marketplace</div>
                        <div class="footer__middle-li">Terms & Conditions</div>
                        <div class="footer__middle-li">Privacy Policy</div>
                    </ul>
                    <ul class="footer__middle-ul">
                        <div class="footer__middle-li-title">Discover</div>
                        <div class="footer__middle-li">CRM Comparision</div>
                        <div class="footer__middle-li">Partner Program</div>
                        <div class="footer__middle-li">What is CRM</div>
                        <div class="footer__middle-li">Resource</div>
                    </ul>
                    <ul class="footer__middle-ul">
                        <div class="footer__middle-li-title">Help Center</div>
                        <div class="footer__middle-li">Community</div>
                        <div class="footer__middle-li">Knowledge Base</div>
                        <div class="footer__middle-li">Academy</div>
                        <div class="footer__middle-li">Support</div>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-left">
                    <ul class="footer__bottom-left-socials">
                        <li class="footer__bottom-left-socials-li">
                            <img
                                src="/assets/icons/Facebook__footer.svg"
                                alt=""
                            />
                        </li>
                        <li class="footer__bottom-left-socials-li">
                            <img src="/assets/icons/X__footer.svg" alt="" />
                        </li>
                        <li class="footer__bottom-left-socials-li">
                            <img
                                src="/assets/icons/Instagramm__footer.svg"
                                alt=""
                            />
                        </li>
                        <li class="footer__bottom-left-socials-li">
                            <img src="/assets/icons/in__footer.svg" alt="" />
                        </li>
                    </ul>
                    <div class="footer__bottom-left-info">
                        <div class="footer__bottom-left-text">
                            Privacy Policy
                        </div>
                        <div class="footer__bottom-left-text">
                            Terms & Conditions
                        </div>
                        <div class="footer__bottom-left-text">
                            Support
                        </div>
                    </div>
                </div>
                <div class="footer__bottom-right">
                    <div class="footer__bottom-right-text">
                        © Copyright 2023, All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
