<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<section class="cover">
    <div class="container">
        <div class="cover__shell">
            <div class="cover__top">
                <div class="cover__top--title">
                    Everything you need to get the attention of your audience
                </div>
                <div class="cover__top--info-shell">
                    <div class="cover__top--info">
                        <div class="cover__top--info-line"></div>
                        <div class="cover__top--info-text">
                            Our digital agency helps clients develop, implement
                            and maintain successful digital marketing strategies
                            across all channels. Also work with you to build
                            your website and create online businesses that grow.
                        </div>
                    </div>
                    <div class="cover__info--sticker">
                        <img src="/assets/icons/cover__sticker.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="cover__bottom">
                <!-- Slider main container -->
                <div class="swiper cover__swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper cover__swiper--wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide cover__swiper--slide">
                            <div class="first__slide">
                                <div class="first__slide--img">
                                    <img src="/assets/icons/cover__first-slide.svg" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide cover__swiper--slide">
                            <div class="second__slide">
                                <div class="second__slide--img">
                                    <img
                                        src="/assets/icons/cover__second-slide.svg"
                                        alt=""
                                    />
                                </div>
                                <div class="second__slide--info">
                                    <div class="second__slide--info-title">
                                        What we believe in
                                    </div>
                                    <div class="second__slide--info-text">
                                        Over the years at Sans, we’ve put a lot
                                        of thought into what it is that makes us
                                        who we are. The qualities that unite us,
                                        that make us such an effective team,
                                        and...
                                    </div>
                                </div>
                                <button class="second__slide--button">
                                    See Details
                                    <img
                                        class="second__slide--button-img"
                                        src="/assets/icons/cover__arrow-right.svg"
                                        alt=""
                                    />
                                </button>
                            </div>
                        </div>
                        <div class="swiper-slide cover__swiper--slide">
                            <div class="third__slide">
                                <img class="third__slide--img" src="/assets/icons/cover__third-slide.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide cover__swiper--slide">
                            Slide 4
                        </div>
                        <div class="swiper-slide cover__swiper--slide">
                            Slide 5
                        </div>
                    </div>
                    <div class="cover__swiper-buttons">
                        <div class="swiper-button-prev cover__swiper-prev"></div>
                        <div class="swiper-button-next cover__swiper-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
