<section class="our-team">
    <div class="container">
        <div class="our-team__background-round">
            <!-- <svg width="654" height="885" viewBox="0 0 654 885" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_1_2749)">
                    <circle cx="442.5" cy="442.5" r="262.5" fill="#E2F8F0" fill-opacity="0.7" />
                </g>
                <defs>
                    <filter id="filter0_f_1_2749" x="0" y="0" width="885" height="885" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="90" result="effect1_foregroundBlur_1_2749" />
                    </filter>
                </defs>
            </svg> -->
        </div>
        <div class="our-team__shell">
            <div class="our-team__heading-top">
                <div class="our-team__heading-top--title">
                    Meet our team of creators, designers,
                    and world-class problem solvers
                </div>
                <div class="our-team__heading-top--text">
                    To become the company that customers want,
                    it takes a group of passionate people. Get to know the
                    people who lead
                </div>
            </div>
            <div class="swiper our-team__swiper">
                <div class="swiper-wrapper our-team__swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide our-team__swiper--slide">
                        <div class="slide__img">
                            <img src="/assets/icons/our-team__slide-1.svg" alt="">
                        </div>
                        <div class="slide__info">
                            <div class="slide__info-top">
                                <div class="slide__info-top-title">Arlyne Stefano</div>
                                <div class="slide__info-top-socials">
                                    <img src="/assets/icons/our-team__twitter.svg" alt="">
                                    <img src="/assets/icons/our-team__in.svg" alt="">
                                    <img src="/assets/icons/our-team__insta.svg" alt="">
                                </div>
                            </div>
                            <div class="slide__info-bottom">
                                Founder & CEO
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide our-team__swiper--slide">
                        <div class="slide__img">
                            <img src="/assets/icons/our-team__slide-2.svg" alt="">
                        </div>
                        <div class="slide__info">
                            <div class="slide__info-top">
                                <div class="slide__info-top-title">Katy Cristy</div>
                                <div class="slide__info-top-socials">
                                    <img src="/assets/icons/our-team__twitter.svg" alt="">
                                    <img src="/assets/icons/our-team__in.svg" alt="">
                                    <img src="/assets/icons/our-team__insta.svg" alt="">
                                </div>
                            </div>
                            <div class="slide__info-bottom">
                                Chief Technology Officer
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide our-team__swiper--slide">
                        <div class="slide__img">
                            <img src="/assets/icons/our-team__slide-3.svg" alt="">
                        </div>
                        <div class="slide__info">
                            <div class="slide__info-top">
                                <div class="slide__info-top-title">Roger Dzawin</div>
                                <div class="slide__info-top-socials">
                                    <img src="/assets/icons/our-team__twitter.svg" alt="">
                                    <img src="/assets/icons/our-team__in.svg" alt="">
                                    <img src="/assets/icons/our-team__insta.svg" alt="">
                                </div>
                            </div>
                            <div class="slide__info-bottom">
                                Chief Technology Officer
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide our-team__swiper--slide">
                        <div class="slide__img">
                            <img src="/assets/icons/our-team__slide-1.svg" alt="">
                        </div>
                        <div class="slide__info">
                            <div class="slide__info-top">
                                <div class="slide__info-top-title">Arlyne Stefano</div>
                                <div class="slide__info-top-socials">
                                    <img src="/assets/icons/our-team__twitter.svg" alt="">
                                    <img src="/assets/icons/our-team__in.svg" alt="">
                                    <img src="/assets/icons/our-team__insta.svg" alt="">
                                </div>
                            </div>
                            <div class="slide__info-bottom">
                                Founder & CEO
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-team__swiper-buttons">
                    <button class="swiper-button-prev our-team__swiper-prev">
                        <img src="./assets/icons/cover__swiper--arrow-prev.svg" alt="">
                    </button>
                    <button class="swiper-button-next our-team__swiper-next">
                        <img src="./assets/icons/cover__swiper--arrow.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="our-team__heading-bottom">
                <div class="our-team__heading-bottom--title">
                    Join our team, The one with the master touch
                </div>
                <div class="our-team__heading-bottom--info">
                    <div class="our-team__heading-bottom--info--text">
                        We believe it takes great people to make a great
                        product. That’s why we hire not only the perfect professional fits, but people who
                        embody our
                        company values.
                    </div>
                    <a href="" class="our-team__heading-bottom--info--link">
                        See Open Position
                        <img src="/assets/icons/our-team__link-arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>