.cover {
    padding-bottom: 160px;
    position: relative;
    @include tablet{
        padding-bottom: 120px;
    }
    @include mobile{
        padding-bottom: 80px;
    }
    @include small-mobile{
        padding-bottom: 60px;
    }

    &__background--round-1 svg {
        z-index: -1;
        position: absolute;
        bottom: -30px;
        left: 21px;
        border-radius: 50%;
        width: 551px;
        height: 551px;
        background-color: #fa7515;
        filter: blur(220px);
        opacity: 0.30;

        @include mini-desktop {
            width: 351px;
            height: 351px;
            left: 80px;
        }

        @include small-tablet {
            width: 251px;
            height: 251px;
        }
    }

    &__shell {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    &__top {
        padding: 105px 0;
        @include flex-column-space-between;
        height: 100%;
        max-height: 796px;
        gap: 118px;

        @include tablet {
            gap: 90px;
            padding: 70px 0;
        }

        @include small-tablet {
            gap: 60px;
            padding: 55px 0;
        }

        @include mobile {
            gap: 40px;
            padding: 45px 0;
        }

        &--title {
            color: var(--neutral-color-100);
            font-size: 72px;
            line-height: 120%;
            font-weight: 700;
            max-width: 959px;

            @include tablet {
                font-size: 54px;
            }

            @include small-tablet {
                font-size: 42px;
                max-width: 747px;
            }

            @include mobile {
                font-size: 36px;
                text-align: center;
            }

            @include small-mobile {
                font-size: 30px;
            }
        }

        &--info {
            display: flex;
            flex-direction: row;
            max-width: 838px;
            height: 100%;
            gap: 8px;

            &-shell {
                @include flex-row-space-between;
                align-items: center;
                gap: 16px;
            }

            &-line {
                max-width: 76px;
                width: 100%;
                height: 1px;
                border: solid 1px var(--neutral-color-140);
                transform: translateY(15px);

                @include tablet {
                    max-width: 57px;
                }

                @include small-tablet {
                    max-width: 38px;
                }

                @include mobile {
                    display: none;
                }

            }

            &-text {
                color: var(--neutral-color-100);
                max-width: 738px;
                font-size: 32px;
                line-height: 133%;
                font-weight: 600;

                @include tablet {
                    font-size: 24px;
                    max-width: 554px;
                }

                @include small-tablet {
                    font-size: 20px;
                    max-width: 461px;
                }

                @include mobile {
                    font-size: 18px;
                    max-width: none;
                    text-align: center;
                }

                @include small-mobile {
                    font-size: 16px;
                }
            }

            &-sticker img {
                @include tablet {
                    max-width: 96px;
                }

                @include small-mobile {
                    max-width: 80px;
                }

                @include mobile {
                    display: none;
                }
            }
        }
    }

    &__bottom {
        max-height: 634px;
    }

    &__swiper {
        max-height: 634px;
        max-width: 100%;

        &--wrapper {
            right: 0;
        }

        &--slide {
            max-width: 502px;
            max-height: 630px;
            height: 80vh;
            width: 35vw;

            @include tablet {
                max-width: 402px;
                max-height: 530px;
            }

            @include mobile {
                max-width: 302px;
                max-height: 430px;
            }
        }

        &-buttons {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 38.4%;
            transform: rotateX(-33%);
            background-color: #fefefe;
            border-radius: 50%;
            top: 30%;
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @include small-tablet {
                width: 70px;
                height: 70px;
            }

            @include small-mobile {
                width: 50px;
                height: 50px;
            }

        }

        &-prev img {
            max-height: 30px;

        }

        &-next img {
            max-height: 30px;
        }
    }
}

.first__slide {
    max-width: 502px;
    max-height: 629px;
    height: 100%;
    width: 100%;

    &--img img {
        height: auto;
        width: auto;
        max-height: 629px;
    }
}

.second__slide {
    max-width: 502px;
    max-height: 629px;
    display: flex;
    @include flex-column-space-between;
    gap: 16px;
    margin-right: 0px;

    @include tablet {
        gap: 12px;
    }

    @include mobile {
        gap: 10px;
    }

    @include small-mobile {
        gap: 8px;
    }

    &--img {
        max-width: 502px;
        height: 58.5%;
    }

    &--info {
        @include flex-column-space-between;
        gap: 16px;

        @include tablet {
            gap: 12px;
        }

        @include mobile {
            gap: 10px;
        }

        @include small-mobile {
            gap: 8px;
        }


        &-title {
            font-weight: 600;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: var(--neutral-color-100);

            @include tablet {
                font-size: 24px;
            }
            @include mobile{
                font-size: 22px;
            }
            @include small-mobile{
                font-size: 20px;
            }
        }

        &-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 178%;
            color: var(--neutral-color-150);

            @include tablet {
                font-size: 16px;
                line-height: 150%;
            }
            @include mobile{
                font-size: 14px;
                line-height: 130%;
            }
            @include small-mobile{
                font-size: 120%;
                font-size: 14px;
            }
        }
    }

    &--button {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--neutral-color-10);
        background-color: var(--neutral-color-100);
        border-radius: 100px;
        padding: 16px 32px;
        max-width: 121px;
        max-height: 56px;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 12px 24px;
        }
        @include mobile{
            padding: 8px 16px;
            font-size: 14px;
        }

        &-img {
            max-height: 24px;
        }
    }
}

.third__slide {
    &--img img {
        max-width: 460px;
        max-height: 506px;
    }
}

.swiper-slide {
    margin-right: 0px;
    flex-shrink: none;
}