@mixin flex-aligin-center{
    display: flex;
    align-items: center;
}

@mixin flex-justify-center{
    display: flex;
    justify-content: center;
}

@mixin flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin frlx-justify-between{
    display: flex;
    justify-content: space-between;
}