<section class="news">
    <div class="container">
        <div class="news__shell">
            <div class="news__title">
                <div class="news__title-caption">Trending news from Coca</div>
                <p class="news__title-text">
                    we have some new Service to pamper you
                </p>
            </div>
            <div class="news__slider">
                <button class="news__slider--button">
                    <img src="/assets/icons/news_slide.svg" alt="" />
                </button>
                <div class="news__slider-first-column">
                    <div class="news__slide first-column active__slide">
                        <div class="news__slide-img">
                            <img
                                src="./assets/icons/news/first-slide.svg"
                                alt=""
                            />
                        </div>
                        <div class="news__slide-text">
                            <div class="news__slide-text-subtitles">
                                <p class="news__slide-text-subtitle">
                                    Published in Insight Jan 30, 2021
                                </p>
                                <p class="news__slide-text-subtitle">
                                    by : Albert Sans
                                </p>
                            </div>
                            <div class="news__slide-text-info">
                                What makes an authentic employee profile, and
                                why does it matter ?
                            </div>
                        </div>
                    </div>
                    <div class="news__slide first-column">
                        <div class="news__slide-img">
                            <img src="/assets/icons/slide2.jpg" alt="" />
                        </div>
                        <div class="news__slide-text">
                            <div class="news__slide-text-subtitles">
                                <p class="news__slide-text-subtitle">
                                    Published in Insight Jan 30, 2021
                                </p>
                                <p class="news__slide-text-subtitle">
                                    by : Albert Sans
                                </p>
                            </div>
                            <div class="news__slide-text-info">
                                How to build a Kaylen relationship with a good
                                company
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news__slider-second-column">
                    <div class="news__slide second-column active__slide">
                        <div class="news__slide-img">
                            <img src="/assets/icons/slide2.jpg" alt="" />
                        </div>
                        <div class="news__slide-text">
                            <div class="news__slide-text-subtitles">
                                <p class="news__slide-text-subtitle">
                                    Published in Insight Jan 30, 2021
                                </p>
                                <p class="news__slide-text-subtitle">
                                    by : Albert Sans
                                </p>
                            </div>
                            <div class="news__slide-text-info">
                                How to build a Kaylen relationship with a good
                                company
                            </div>
                        </div>
                    </div>
                    <div class="news__slide second-column">
                        <div class="news__slide-img">
                            <img
                                src="./assets/icons/news/first-slide.svg"
                                alt=""
                            />
                        </div>
                        <div class="news__slide-text">
                            <div class="news__slide-text-subtitles">
                                <p class="news__slide-text-subtitle">
                                    Published in Insight Jan 30, 2021
                                </p>
                                <p class="news__slide-text-subtitle">
                                    by : Albert Sans
                                </p>
                            </div>
                            <div class="news__slide-text-info">
                                What makes an authentic employee profile, and
                                why does it matter ?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
